<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bulbulhossen.dse_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Home_page.SampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/dse"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AndroidLimeTheme">
        <activity android:name=".Home_page.DispatchActivity">

        </activity>
        <activity android:name=".Splash.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home_page.Home" />
        <activity android:name=".Fragment.Main_fragment" />
        <activity android:name=".Home_page.Signup" />
        <activity android:name=".Home_page.Reset" />
        <activity android:name=".Home_page.Login" />
        <activity android:name=".Fragment.Market_Statistics" />
        <activity android:name=".Home_page.Change_password"></activity>
    </application>

</manifest>
